body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#quiz-container {
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#options li {
    list-style-type: none;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#options li:hover {
    background-color: #f0f0f0;
}

#options li.selected {
    background-color: #4caf50;
    color: #fff;
}

#submit-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #45a049;
}
.end-score{display: block;}